*{
  color:#666699 !important;
}
.cd-slider-navigation{
	background:rgba(51, 51, 153,0.57) !important;
	padding:10px !important;
 	width:100% !important;
	margin-bottom:-10px !important;
 }
 
 #submit,.putih{
	 color:#FFF !important;
 }