.background
{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}
.screen
{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
	background-image: url(../img/lamp.png);
	background-repeat: repeat-x;
	
}

.savethedate
{
	color:#ffffff;
	position: fixed;
	  top: 15%;
	  left: 50%;
	  right: auto;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 3;
	  text-align: center;
	  width: 96%;
	  height:200px;
	  font-size:50px;
	  font-family: 'Dancing Script', cursive;
}

.forthewedding
{
	color:#ffffff;
	position: fixed;
	  top: 23%;
	  left: 50%;
	  right: auto;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 3;
	  text-align: center;
	  width: 96%;
	  height:200px;
	  font-size:20px;
	  letter-spacing: 5px;
	  font-family: 'Teko', sans-serif;
	  font-weight:normal;
}

.mempelai
{
	color:#ffffff;
	position: fixed;
	  top: 32%;
	  left: 50%;
	  right: auto;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 3;
	  text-align: center;
	  width: 96%;
	  height:200px;
	  font-size:40px;
	  font-family: 'Julius Sans One', sans-serif;
	  font-weight:bold;
	  text-transform: uppercase;
}

.mempelai span
{
	font-family: 'Playfair Display', serif;
}

.date
{
	color:#ffffff;
	position: fixed;
	  top: 60%;
	  left: 50%;
	  right: auto;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 3;
	  text-align: center;
	  width: 70%;
	  font-size:30px;
	  font-family: 'Teko', sans-serif;
	  font-weight:normal;
}

.alamat
{
	color:#ffffff;
	position: fixed;
	  top: 72%;
	  left: 50%;
	  right: auto;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  z-index: 3;
	  text-align: center;
	  width: 96%;
	  font-size:20px;
	  font-family: 'Teko', sans-serif;
	  font-weight:normal;
}
.alamat span
{
	 font-size:15px;
}

.head
{
	padding-top:10%;
	margin: 0 auto;
	color:#ffffff;
	  width: 96%;
	  font-size:40px;
	  font-family: 'Dancing Script', cursive;
}
.head span
{
	font-family: 'Playfair Display', serif;
}

.img_bride_groom
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.bride-groom
{
	color:#ffffff;
	font-size:30px;
	font-family: 'Dancing Script', cursive;
}

.bride-groom span
{
	margin-top:2%;
	font-family: 'Teko', sans-serif;
	font-weight:normal;
	font-size:15px;
	letter-spacing: 2px;
}

.wedding-ceremony
{
	color:#ffffff;
	width: 96%;
	  font-size:28px;
	  font-family: 'Teko', sans-serif;
	  font-weight:normal;
}

.gaya
{
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color:#e7cfba;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	animation: pulse 1s ease infinite;
	color:white;
	font-size:30px;
	padding-top:12px;
}

.gaya span
{
  font-size:8px;
  display:block;
}

.button {
    background-color: #85705f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width:100%;
}

.button:hover {
	background-color: #aa9483;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #85705f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #aa9483;
}

.container1 {
    border-radius: 5px;
	width:96%;
	margin:auto;
	margin-bottom:10px;
}

.container2 {
	background-color: #f2f2f2;
    border-radius: 5px;
	width:96%;
	padding:10px;
	margin:auto;
	margin-bottom:5px;
}

.nama_wishes
{
	margin-top:5px;
	width:100%;
	text-align:left;
	font-weight:bold;
	font-family: 'Teko', sans-serif;
	letter-spacing: 2px;
	font-size:20px;
	color:#85705f;
}

.isi_wishes
{
	width:100%;
	text-align:left;
	color:#85705f;
	font-size:13px;
	margin-bottom:15px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
	margin-bottom:5px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.window
{
	margin-top:6%;height: 80%;overflow-y:scroll;
}
.cpw
{
	padding-top:3%;
	display:block;
	clear:both;
	margin: 0 auto;
}
.cpp
{
	padding-top:3%;
	display:block;
	clear:both;
	margin: 0 auto;
}

.clock
{
	padding-top:10%;
}

.map
{
	width:96%;
}

.direction
{
	width:96%;
}

.wishes
{
	margin:0 auto;
	clear:both;
	padding-top:3%;
	width:96%;
}
